{:paths ["script" "test"]
 :pods {org.babashka/postgresql {:version "0.1.6"}
        pod.zmaillard/snowflakeid {:path "./pod/snowflakeid/snowflakepod" :cache false}}
 :tasks  {:requires ([babashka.fs :as fs]) 
          download (do (shell "rclone sync" "r2:sign/ai/" "working/ai")
                       (shell "rclone sync" "r2:sign/staging/" "working/staging"))
          exif (exec 'image/exif {:exec-args {:path "./working/staging"}})
          identifier (exec 'image/generate-ids {:exec-args {:path "./working/staging"}})
          resize (do (exec 'image/resize-images {:exec-args {:path "./working/ai"}})
                     (exec 'image/resize-images {:exec-args {:path "./working/staging"}}))
          import-signs {:depends [download identifier exif resize]
                        :task (do ;(exec 'image/import-new {:exec-args {:path "./working/staging"}})
                                  (exec 'image/import-edited {:exec-args {:path "./working/ai"}}))}
          test (do (require 'image.core-test)
                    (require 'image-test)
                    (let [run-tests (requiring-resolve 'clojure.test/run-tests)
                          {:keys [fail error]} (run-tests 'image.core-test 'image-test)]
                      (System/exit (if (zero? (+ fail error)) 0 1))))}}
