{:deps  {
         aero/aero                              {:mvn/version "1.1.6"}
         com.cognitect.aws/api                  {:mvn/version "0.8.692"}
         com.cognitect.aws/endpoints            {:mvn/version "1.1.12.772"}
         com.cognitect.aws/s3                   {:mvn/version "869.2.1687.0"}
         org.imgscalr/imgscalr-lib              {:mvn/version "4.2"}
         com.github.seancorfield/next.jdbc      {:mvn/version "1.3.939"}
         de.mkammerer.snowflake-id/snowflake-id {:mvn/version "0.0.2"}
         com.github.seancorfield/honeysql       {:mvn/version "2.6.1161"}
         org.postgresql/postgresql              {:mvn/version "42.7.4"}
         io.joshmiller/exif-processor           {:mvn/version "0.4.0"}
         babashka/fs                            {:mvn/version "0.5.22"}
         org.clojure/tools.cli                  {:mvn/version "1.3.250"}}

 :paths ["src" "resources" "dev" "test"]

 :aliases {:nREPL
           {:extra-deps
             {nrepl/nrepl {:mvn/version "1.5.2"}}}}}
